.body {
    background-color: #081b29 !important;
}
.mya {
    background-color: #00abf0 !important;
    border-color: #00abf0 !important;
}
.mya:hover,.myab:hover,.links:hover {
    box-shadow: 0px 0px 10px #00abf0 !important;
}
.nav-text:hover,.nav-text:active,.job,span {
    color: #00abf0;
}
.links,.see-more,.myab {
    color: #00abf0 !important;
    border-color: #00abf0 !important;
}
.linkbox {
    height: 11.74vh !important;
}
.services:hover,.topup,.request {
    background-color: #00abf0 !important; 
}
.see-more:hover {
    background-color: #00abf0 !important; 
    color: #081b29 !important;
}
.my-work:hover img {
    transform: scale(1.1);
}
.my-work:hover div {
    height: 100%;
}
.layer {
    background: linear-gradient(rgba(0,0,0,0.6),#00abf0);
}
#inline-full-name:focus,#inline-password:focus,#inline-message:focus {
    outline-color: #00abf0;
    caret-color: #00abf0;
} 
.topdown {
    color: #081b29;
}
.slide::after {
    content: '';
    width: 0;
    height: 3px;
    border-radius: 4px;
    background: #00abf0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.slide.slide-active::after {
    width: 60%;
}
.tab-contents {
    display: none !important; 
}
.tab-contents.active-tab {
    display: block !important;
}
::-webkit-scrollbar {
    width: 0.65vw;
    background-color: #081b29 !important;
}
::-webkit-scrollbar-thumb {
    background: #00abf0 !important;
}
#msg {
    color: #61b752 !important;
}
#btn-back-to-top {
    z-index: 10;
}